<html>
<head>
	<title>MyOdyssey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/myodyssey.js"></script>
	<!--- TODO IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TODO -->
	<!--- !!!!!!!! DO N O T PUSH TO GITHUB WITHOUT REMOVING API KEY !!!!!!! -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/myodyssey.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div id="map"></div>

		<div class="topbox" id="welcome">
			{{#if username}}
			<h1>Welcome back, <br>{{username}}</h1>
			<p>Tap a marker to view the note.</p>
			{{/if}}
		</div>

		<div class="topbox" id="login">
			{{#unless username}}
			<form id="loginForm" role="form" method="get" action="/">
			<input name="name" id="name" type="text" placeholder="What's your Name?">
			<input id ="loginBtn" type="submit" class="btn btn-default" value="Enter MyOdyssey!">
			</form>
			{{/unless}}
		</div>

		<p id="try"></p>

		<div id="note-form">
				<input id="address" type="textbox" placeholder="La Jolla Cove">
				<input id="note" type="textbox" placeholder="Type a note here">
				<input id="submit" type="button" placeholder="Add Note">
			</div>
		<!--<img id="settings" src="css/assets/settings.svg"></img>-->
	</div>
</body>
</html>


<!--<a href="settings.handlebars"
	onclick="basicPopup(this.href);return false">Open a popup window</a>
</a>-->
