<html>

<head>
	<title>MyOdyssey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/myodyssey.js"></script>
	<!--- TODO IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TODO -->
	<!--- !!!!!!!! DO N O T PUSH TO GITHUB WITHOUT REMOVING API KEY !!!!!!! -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxusJC4hLp5-Af4udQ_p-rsL5zC4NmGeo&callback=initMap&libraries=places" async defer></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/myodyssey.css" rel="stylesheet">

	<!-- Google Analytics -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-159852180-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<div class="container-fluid">
		<div id="map"></div>

		<div class="topbox row">

			<div class="col" id="welcome">
				{{#if username}}

					<div id="welcomeText">
						<h1>Welcome back, <br>
							<div id="userName">{{username}}</div>
						</h1>
						<p>Tap a marker to view the note.</p>
					</div>

					{{#unless viewAlt}}
						<button id="add" type="button" class="collapsible btn btn-primary btn-block" data-toggle="collapse" data-target="#note-form">Add Note</button><br>
					{{/unless}}

					<div id="note-form" class="collapse">
						<div class="form-group">
							<input id="address" type="text" class="form-control" placeholder="La Jolla Cove">
						</div>
						<div class="form-group">
							<input id="note" type="textbox" class="form-control" placeholder="Type a note here">
						</div>
						<input id="submitNote" type="submit" class="btn btn-primary" value="Submit">
					</div>

				{{/if}}
			</div>

			<div id="login">
				{{#unless username}}
					<form id="loginForm" role="form">
						<div class="form-group">
							<input name="name" id="name" type="text" class="form-control" placeholder="What's your Name?">
						</div>
						<div class="form-group">
							<input id="loginBtn" type="submit" class="btn btn-primary" value="Enter MyOdyssey!" method="get" action="/">
						</div>
					</form>
				{{/unless}}
			</div>
		</div> <!-- topbox end -->

		{{#if viewAlt}}
			{{#if username}}
				<div id="altAdd">
					<button type="button" class="addButton" data-target="#note-form">
						<img class="img-responsive" src="/css/assets/location.png">
					</button><br>
				</div>
				<script>
					$('#submitNote').click(function() {
						$('#note-form').hide();
						$('#welcomeText').show();
					});
				</script>
			{{/if}}
		{{/if}}

	</div>
</body>

</html>
