<html>
<head>
	<title>MyOdyssey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/myodyssey.css" rel="stylesheet">

</head>
<body>
	<div class="container screen">
		<div class="welcome">
			<h1>Welcome back, <br>Valerie.</h1>
			<p>Tap a marker to view the note.</p>
		</div>
		<img id="marker" src="css/assets/marker.svg"></img>

		<div class="navigation">
			<div class="addplace">
				<img width=50px height=50px src="css/assets/marker.svg"></img>
			</div>
			<div class="settings">
				<img width=50px height=50px src="css/assets/settings-gear.svg"></img>
			</div>
		</div>
	</div>
</body>
</html>
