<html>
<head>
	<title>MyOdyssey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/myodyssey.css" rel="stylesheet">

</head>
<body>
	<div class="container screen">
		<div class="welcome">
			<h1>Welcome back, <br>Valerie.</h1>
			<p>Tap a marker to view the note.</p>
		</div>
		<img id="marker" src="css/assets/marker.svg"></img>

		<div class="navigation">
			<div class="addplace">
				<input type="image" src="css/assets/marker.svg" img width=50px height=50px
						name="locationBtn" id="addLocation" class="locationBtn"></img>
			</div>

			<div class="settings">
				<input type="image" src="css/assets/settings-gear.svg" img width=50px height=50px
						name="settingsBtn" id="goSettings" class="settingsBtn"></img>
			</div>

			<div class="friends">
				<input type="image" src="css/assets/friends.svg" img width=50px height=50px
						name="friendsBtn" id="addFriends" class="friendsBtn"
						href="settings.handlebars" onclick="goToPage(this.href);return false">
			</div>

		</div>
	</div>

</body>


<a href="settings.handlebars"
	onclick="basicPopup(this.href);return false">Open a popup window</a>
</a>
