/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}
#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.topbox {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 10px;
  padding: 15px;
  background: white;
  border-radius: 30px;
  height: auto;
}

#note-form {
	position: relative;
	z-index: 1;
}

#login {
	position: relative;
	z-index: 1;
}
/* iphone 11/X screen for dev purposes */
.screen {
  width: 375px;
  height: 812px;
  /*background-image: url("assets/MapPlaceholder.jpg");*/
}

/*.welcome {
  position: relative;
  width: 350px;
  height: 135px;
  right: 3px;
  background: white;
  border-radius: 30px;
}

.welcome h1{
  position: relative;
  left: 6%;
  right: 13%;
  top: 7%;
  bottom: 15%;
  line-height: 47px;
}

.welcome p {
  position: relative;
  left: 6%;
  line-height: 17px;
}

#marker {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 58%;
  right: 19%;
  top: 39%;
  bottom: 64.69%;
}

.navigation {
  position: relative;
  width: 160px;
  left: 10px;
  top: 73%;
}

.addplace {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50px;
}

.settings {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50px;
  bottom: 50px;
  left: 55px;
}

.friends {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50px;
  bottom: 100px;
	left: 110px

}*/
